
/* TODO EL NAV */
.nav-style{
    background-color: #334 ;
}
.nav-link{
    border-radius: 10px;
}
.nav-link:hover{
    background-color:#336;
    border-radius: 10px;
}
.dropdown-menu{
    background-color: #334;
}
/* TODO EL MAIN  */
main{
    background-color: rgb(21, 21, 22);
    padding-bottom: 40px;
}

/* CARTELERA LOGO */
.cartelera-icon{
color: #f21e1e;
}
.cartelera-style{
    margin-top: 10px;
}
/* TODO CARD DEL INDEX */
.carta-style{
    height: 370px;
}

.image-carta {
    height: 250px; 
    width: 100%;
}

.card-time{
    background-color:rgba(255, 255, 255, 0.129);
    color: rgb(4, 4, 4);
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
}
/* MAIN DE +13 */
.banner-mastrece{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}
.banner-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr; 
    overflow: hidden;
    max-width: 1000px;
    border: 1px solid #353232;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}
.banner-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px; 
}

.banner-content h3 {
    font-size: 2rem;
    margin: 0;
    color: rgb(255, 193, 7);
}


/* FOOTER */

.footer-style a{
text-decoration: none;
color: black;
}
.bi-instagram {
    color: #f21e1e;
}
.bi-whatsapp{
    color: green;
}
.bi-twitter{
    color: blue;
}
.bi-github{
    color: grey;
}





@media (min-width: 768px) {
    .image-carta {
        height: 400px;
    }
    .carta-style{
        height: 500px;
    }
   
    
}
@media (max-width: 700px){
    .banner-container {
        grid-template-columns: 1fr; 
    }
    
    .banner-content {
        padding: 20px;
        text-align: center;
    }
    .pochoclos{
        text-align: center;
    }
}
