@use "layout/footer";
@use "layout/contacto";
@use "layout/header";
@use "layout/main-servicio";
@use "layout/main";
@use "layout/media-1300";
@use "layout/media-700";
@use "layout/media-992";
@use "layout/media-min700";
@use "components/card";
@use "components/banner";
@use"base/reset";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


