/* UTILITIE */
@use "utilities/variables";
@use "utilities/mixins";


/* BASE */
@use "base/reset";

/* LAYOUT */
@use "layout/header";
@use "layout/main";
@use "layout/contacto";
@use "layout/main-servicio";
@use "layout/banner";
@use "layout/carousel-movie";
@use "layout/footer";

/* MEDIA QUERIES  */
@use "layout/media-992";
@use "layout/media-700";

/* COMPONENTS */
@use "components/card";

