/* MAIN DE +13 */
@use "../Utilities/mixins" as *;
.banner-mastrece{
    @include display-flex;
    padding: 20px;
    flex-direction: column;
    gap: 30px;
    color: white;
}
.banner-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr; 
    overflow: hidden;
    max-width: 1000px;
    border: 1px solid #353232;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}
.banner-content {
    @include display-flex;
    padding: 40px;
    flex-direction: column;
    gap: 15px; 
}

.banner-content h3 {
    font-size: 2rem;
    margin: 0;
    color: rgb(255, 193, 7);
}