@use "../Utilities/variables" as *;
.carousel-movie {
  margin-top: 60px;

  &-title {
    text-align: left;
    color: white;
    font-weight: 600;
    margin: 30px 0px;
    letter-spacing: 5px;
  }

  &-card {
    background: $color-principal;
    border-radius: 14px;
    overflow: hidden;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    }

    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      display: block;
    }
  }

  &-info {
    padding: 16px;

    h3 {
      font-size: 0.95rem;
      color: white;
      margin: 0 0 6px;
      line-height: 1.3;
    }

    span {
      font-size: 0.8rem;
      color:white;
    }
  }
}

