
@use "../Utilities/mixins" as *;
@use "../Utilities/variables" as *;
.footer-style a{
text-decoration: none;
color: black;
}
.bi-instagram {
    color: #f21e1e;
}
.bi-whatsapp{
    color: green;
}
.bi-twitter{
    color: blue;
}
.bi-github{
    color: grey;
}


