@media (max-width: 700px){
  .banner-container{
      display: flex;
    flex-direction: column;
  }

    
    .banner-content {
        padding: 20px;
        text-align: center;
    }
    .pochoclos{
        text-align: center;
    }
   
   .carousel-inner img{
    height: 190px;
   }
.carousel-movie-card{
  width: 200px;
  margin: auto;
}
.carousel-movie-card img{
  height: 300px;
}
}