@use "../Utilities/variable" as *;
@use "../Utilities/mixin" as *;
.carta-style{
    width: 18rem;
    
}
/* CARD */
.movie-card {
  background-color:$color-principal;
  border: none;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* EFECTO HOVER */
.movie-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

/* CONTENEDOR IMG */
.movie-poster {
  width: 100%;
  aspect-ratio: 2 / 3;
  overflow: hidden;
}

/* IMAGEN */
.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.movie-card h5 {
  font-size: 0.95rem;
  margin-bottom: 4px;
  color: #f8fafc;
}

.card-text {
  font-size: 0.75rem;
  color: #c0bfbf;
  
}

.card-time{
    background-color:rgba(255, 255, 255, 0.129);
    text-shadow: 0px 0px 8px rgb(0, 0, 0);
    color: rgb(209, 207, 207)
}
.card-title{
    color: $color-letraCard;
    font-weight: 600;
  
}

// servicio
.servi-cards{
    @include card-servis;
}
.servi-cards{
    background-color: #220606;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}

.servi-cards img{
    width: 300px;
    object-fit: cover;
}
.todo-servis{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  justify-items: center;  
}

.parrafo-formato{
    margin: 8px 5px;
    
}

.texto-formato {
    color: rgb(255, 253, 253);
    font-weight: 700;
    margin-top: 10px;
    background-color: #ff0303;
    width: 150px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}


